<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Meteo Live application requires access to your current location. </string>
	<key>NSLocationUsageDescription</key>
	<string>Meteo Live application requires access to your current location. </string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Meteo Live application requires access to your current location. </string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Meteo Live application requires access to your current location. </string>
</dict>
</plist>
